{% extends base.html %}
{% block title %}
index page
{% end %}
{% block link %}
<style>
    .carousel-item img {
        height: 400px;
    }
    .display-list li{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .display-list li img{
        width: 300px;
        height: 250px;
    }
</style>
{% end %}
{% block content %}
<ul class="display-list">
    {% for post in posts %}
        <li><a href="{{ reverse_url('post', post.id) }}"><img src="{{ static_url(post.image_url) }}" alt=""></a></li>
    {% end %}
</ul>
{% end %}