{% extends base.html %}
{% block title %}
    index page
{% end %}
{% block link %}
    <style>
        .carousel-item img{
            height: 400px;
        }
        .logout-box{
            z-index: 5;
            position: absolute;
            top: 48px;
            left: 50px;
            width: 140px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background-color: #ccc;
        }
        .user-box span a:hover{
            text-decoration: none;
            color: orange;
        }
    </style>
{% end %}
{% block user %}
    {% if current_user %}
        <span><a href="">{{ current_user }}</a></span>
        <div class="logout-box">
            <a href="/logout">退出登录</a>
        </div>
    {% else %}
        <span><a href="/login">登录</a>/<a href="/signup">注册</a></span>
    {% end %}
{% end %}
{% block content %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
         点我启动
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">哈哈哈哈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                这就是个弹框而已！！确定删除吗？？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存修改</button>
            </div>
        </div>
    </div>
</div>
{% end %}