{% extends base.html %}
{% block title %}
index page
{% end %}
{% block link %}
<style>
    .carousel-item img {
        height: 400px;
    }
    .display-list{
        list-style: none;
        position: relative;
        float: left;
    }
    .display-list nav ul{
        position: absolute;
        bottom: -50px;
        left: 445px;
    }
    .display-list > li{
        float: left;
        height: 190px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: orange;
    }
    .display-list li img{
        width: 250px;
        height: 150px;
    }
    .display-list li > a{
        display: block;
    }
    {#.display-list li p a{#}
    {#    color: #bd2130;#}
    {#}#}
</style>
{% end %}
{% block content %}
<ul class="display-list">
    {% set num=(page_num-1)*page_size %}
    {% for post in posts %}
        <li>
            <a href="{{ reverse_url('post', post.id) }}"><img src="{{ static_url(post.image_url) }}" alt=""></a>
            <p>
                upload by <a href="/profile?name={{ post.user.name }}">{{ post.user.name }}</a>

                <span class="like-button text-secondary {% if like_list[num] %}text-danger{% end %}">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
                <span class="like-count">
                    {{ count_list[num] }}
                </span>
            </p>

        </li>
        {% set num = num + 1 %}
    {% end %}
    <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if pg.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/?page={{ pg.previous_page }}&page_size={{ page_size }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="iconfont icon-first-blue"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true"><i class="iconfont icon-first-blue"></i></span>
                    </a>
                </li>
                {% end %}
                {% for n in page_list %}
                <li class="page-item {% if n == page_num %}active{% end %}">
                    <a class="page-link" href="/?page={{ n }}&page_size={{ page_size }}">{{ n }}</a>
                </li>
                {% end %}
                {% if pg.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/?page={{ pg.next_page }}&page_size={{ page_size }}" aria-label="Next">
                        <span aria-hidden="true"><i class="iconfont icon-fenyezuihouye"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="iconfont icon-fenyezuihouye"></i></span>
                    </a>
                </li>
                {% end %}
            </ul>
        </nav>
</ul>
{% end %}