{% extends base.html %}
{% block title %}
    login
{% end %}
{% block link %}
<style>
    form{
        width: 300px;
        margin: auto;
    }
</style>
{% end %}
{% block content %}
{% if msg %}
    <div class="alert alert-danger" role="alert">
            {{ msg }}
    </div>
{% end %}
{% if current_user %}
    <div class="alert alert-info" role="alert">
        欢迎<a href="">{{ current_user }}</a>登录！！！
    </div>
{% else %}
<form action="/login" enctype="multipart/form-data" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle fa-fw"></i></span>
      </div>
        <input type="text" class="form-control" name="name" placeholder="请输入用户名" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
      </div>
        <input type="password" class="form-control" name="password" placeholder="请输入密码" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <input type="hidden" name="next_url" value="{{ next_url }}">
    <input class="btn btn-primary btn-block" type="submit" value="立即登录">
</form>
{% end %}
{% end %}