{% extends base.html %}
{% block title %}
    register
{% end %}
{% block link %}
<style>
    form{
        width: 300px;
        margin: auto;
    }
</style>
{% end %}
{% block content %}
{% if msg %}
    <div class="alert alert-danger" role="alert">
            {{ msg }}
    </div>
{% end %}
{% if current_user %}
    <h1>欢迎{{ current_user }}登录！！！</h1>
{% else %}
<form action="/signup" enctype="multipart/form-data" method="post">
    {% module xsrf_form_html() %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle fa-fw"></i></span>
      </div>
        <input type="text" class="form-control" name="username" placeholder="请输入用户名" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
      </div>
        <input type="password" class="form-control" name="password" placeholder="请输入密码" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
      </div>
        <input type="password" class="form-control" name="password_repeat" placeholder="请再次输入密码" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <input type="hidden" name="next_url" value="{{ next_url }}">
    <input class="btn btn-primary btn-block" type="submit" value="立即注册">
</form>
{% end %}
{% end %}